<link rel="stylesheet" href="/style.css">
<%- include('header.ejs') %>

<div class="posts">
    <div class="post1">
<h2>Ux Review Gen: Post</h2>
<p>Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info aboutHere you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info aboutHere you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info aboutHere you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info aboutHere you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info aboutHere you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
    Here you can find info about
</p>
</div>
</div>