*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  
}
.logo{
    margin-left: 20px;

}
.logo h3{
    color: black;
    text-decoration: none !important;
}
a{
    text-decoration: none !important;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
   
}
a:hover {
    color: #dabc15; /* Change to your preferred hover color */
}
.menu{
    display: flex;
    gap: 60px;
    position: relative;
    top: 20px;
}
.title{
    font-size: 80px;
    text-align: center;
    font-weight: bolder;
}
.posts-main{
    width: 100%;
    display: flex;
    justify-content: center;

}
.post-title{
    margin-top: 30px;
}
.text{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}
.text input{
    width: 300px;
}

.btn{
    background-color: aqua;
    width: 100px;
}

.box{
    width: 600px !important;
    word-wrap: break-word;
    margin-left: 20px;
}
